@import "exastro_documents.css";

/* COLOR */
#projectName a {
  background-color: #002B62 !important;
}
#sideMenu li.toctree-l1 > a {
  border-left-color:  #ffa500 !important;
}
#header {
  background-color: #002B62 !important;
}
#toolbar {
  border-top: solid 4px #ffa500 !important;
  border-bottom: solid 4px #EEE !important;
}
#article h1 {
  border-left: 12px solid;
  border-left-color: #ffa500;
  background-color: #002B62;
  line-height: 1.0;
  color: #FFF
}
#article h2,
#article .toctree-wrapper .caption {
  border-left-color: #002B62 !important;
  border-bottom-color: #002B62 !important;
  color: #444;
}
#article h3 {
  border-left-color: #6680A1 !important;
  border-bottom-color: #6680A1 !important;
  color: #444;
}
#article h4 {
  border-left-color: #6680A1 !important;
  border-bottom-color: #6680A1 !important;
  color: #444;
}
#article thead th {
  background-color: #002B62 !important;
}
#article .toctree-wrapper li {
  color: #ffa500 !important;
}
#index #article .body .section {
  border-top-color:  #ffa500 !important;
}
#article #homeIndex li {
  border-left-color:  #ffa500 !important;
  font-size: 1.5em;
}
#article .menuselection {
  border-bottom: solid 1px #ffa500 !important;
}